.main{
  width: 100vw;
  height: 100vh;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-back{
  width: 500px;
  height: 600px;
  background-color: white;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
.link{cursor: pointer;}